---
layout: default
---
{% include nav-post.html %}
<article class="container-fluid mx-1">
  {% for posts in site.posts %}
  {% assign post = posts %}
  <script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "type": "Blogposting",
        "mainEntityOfPage": {
            "@type": "Webpage",
            "id": "https://{{site.url}}{{ post.url }}"
        },
        "headline": "{{ post.title }}",
        "description": "{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}",
        "datePublished": "{{ post.date }}",
        "dateModified": "{{ post.date }}",
        "image": {
            "type": "ImageObject",
            "url": "https://yt3.ggpht.com/ytc/AL5GRJXaIIAnqofLW6Tysn0cwDcqSK7bTpNqoHgyuKw_RQ=s800-c-k-c0x00ffffff-no-rj",
            "height": 200,
            "width": 200
        },
        "author": {
            "url": "{{ site.url }}",
            "type": "Person",
            "name": "Kandra Wilko"
        }
    }
    </script>
  {% endfor %}
  <h1 class="display-4 mt-3 py-3 text-center">
    {{ page.title }}
  </h1>
  {{ content | strip_html | markdownify }}
</article>
